name: CI

on:
  push:
  pull_request:
  schedule:
  # run at 7:00 on the first of every month
  - cron: '0 7 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, pypy3]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install "blessings>=1.5" "wcwidth>=0.1.4" mock pyte nose
    - name: Build with Python ${{ matrix.python-version }}
      run: |
        python setup.py build
    - name: Test with nosetest
      run: |
        nosetests .
